* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	background: darkslategrey;
	text-align: left;
}

.container {
	max-width: 980px;
	margin: 0 auto;
}

.row {
	box-sizing: border-box;
	margin: 30px auto 0 auto;
	padding-bottom: 15px;
	width: 100%;
	clear: both;
}

section {
	box-sizing: border-box;
	font-family: 'Share Tech Mono', monospace;
}

#main {
	width: 65%;
	margin: 0 auto;
}

p {
	box-sizing: border-box;
	margin: 0 auto;
	width: 60%;
	font-size: 30px;
}

.indent {
	padding-left: 15px;
}

.alphabet {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.alphabet>li {
	box-sizing: border-box;
	display: inline-block;
	list-style: none;
	cursor: pointer;
	height: 35px;
	width: 35px;
	margin: 0 7px 0 0;
	padding-top: 4px;
	font-size: 24px;
	color: darkslategrey;
	background-color: white;
	transition: background-color .4s linear,  transform .4s linear, box-shadow .8s linear, opacity .4s;
	border-radius: 8px;
}

.letter:hover {
	background-color: salmon;
}

.shadow {
  	box-shadow: 0 1px 0 #c9cfce, 
	    0 2px 0 #bcc2c2, 
	    0 3px 0 #afb6b6, 
	    0 4px 0 #a4adac, 
	    0 5px 0 #9fa8a7,
	    0 6px 0 #99a3a2,
	    0 7px 0 #97a1a0,
	    0 8px 0 #949e9d,
	    0 0 5px rgba(0,0,0,.05),
	    0 1px 3px rgba(0,0,0,.2), 
	    0 3px 5px rgba(0,0,0,.2), 
	    0 5px 10px rgba(0,0,0,.2), 
	    0 10px 10px rgba(0,0,0,.2);
}

#guesses {
	text-align: center;
}


#guesses>li {
	list-style: none;
	display: inline;
	width: 35px;
	margin: 0 10px 5px 0px;
	font-size: 30px;
	color: white;
}

.used {
	opacity: .4;
	transform: translateY(4px);
  	box-shadow: 0 1px 0 #c9cfce, 
	   			0 2px 0 #bcc2c2, 
			    0 3px 0 #afb6b6, 
			    0 4px 0 #a4adac, 
			    0 0 5px rgba(0,0,0,.05),
			    0 1px 3px rgba(0,0,0,.2), 
			    0 3px 5px rgba(0,0,0,.2), 
			    0 5px 10px rgba(0,0,0,.2), 
			    0 10px 10px rgba(0,0,0,.2);
}

ul>.used:hover {
	background-color: white;
	cursor: default;
}

#replay {
	cursor: default;
}

.hide {
	display: none;
}

/*
Theme ideas:
Coding
use a code style font
angle brackets, etc...

*/